:root {
	--main-font: "Roboto";
	--secondary-font: "Raleway";
	--accent-bgr-color: #e5e5e5;
	--primery-white-color: #ffffff;
	--accent-color: #2196f3;
	--main-text-color: #757575;
	--secondary-text-color: #212121;
}
body {
	font-family: var(--main-font);
	font-size: 14px;
	letter-spacing: 0.03em;
	font-weight: 400;
	color: var(--secondary-text-color);
	background-color: var(--primery-white-color);
}
*::after,
::before {
	box-sizing: border-box;
}
/*reset*/
h1,
h2,
h3,
p {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.conteiner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
}
/*Header*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.header {
	background-color: #ffffff;
}
.header-conteiner {
	display: flex;
	align-items: center;
	border-bottom: #757575;
}
.link {
	text-decoration: none;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.header-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #000000;
	margin-right: 93px;
	display: inline-flex;
	padding-top: 24px;
	padding-bottom: 25px;
	padding-left: 215px;
}
.header-nav {
	display: flex;
}
.header-item:not(:last-child) {
	margin-right: 50px;
}
.header-link,
.contact-link {
	display: block;
	color: var(--secondary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
}
.header-contact {
	margin-left: 215px;
	display: flex;
}
.contact-link {
	color: var(--main-text-color);
	margin-right: 50px;
}
.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus,
.accent,
.current {
	color: var(--accent-color);
}
/*Main page*/
.hero {
	background-color: var(--accent-bgr-color);
}
.main-section {
	background-color: #2f303a;
	display: inline-block;
	padding: 200px 452px 280px 452px;
}
.main-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primery-white-color);
	justify-content: center;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 30px;
	margin-right: auto;
}
.main-btn {
	color: var(--primery-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	border: none;
	display: flex;
	text-align: center;
	border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
	color: var(--primery-white-color);
	background-color: var(--accent-color);
	cursor: pointer;
}
.about-benefits {
	width: 400px;
}
.conteiner-main-benefits {
	margin-left: 30px;
	margin-right: 30px;
}
.main-benefits {
	display: flex;
	flex-shrink: 0;
	padding-top: 94px;
}
.point-benefits {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: #212121;
	margin-bottom: 10px;
}
.benefits-item:not(:last-child) {
	width: 270px;
	margin-right: 30px;
}
.text-benefits {
	line-height: 1.71;
	color: var(--main-text-color);
}
.team-section {
	background-color: #f5f4fa;
}
.team-item-section {
	display: flex;
}
.team-item {
	border: 1px solid #eeeeee;
	margin: 15px;
}
.team-item:not(:last-child) {
	margin-right: 30px;
}
.name-team {
	font-size: 16px;
	line-height: 1.18;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.job-team {
	font-size: 16px;
	line-height: 1.2;
	color: var(--main-text-color);
	margin-bottom: 30px;
	text-align: center;
}
.img {
	width: 370px;
	height: 294px;
	left: 215px;
	top: 262px;
	background: url(portfolio1.jpg);
}
.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 50px;
}
.img-section-title {
	display: flex;
}
.img-title-item {
	margin-right: 30px;
}
/*Portfolio*/
.btn-port {
	padding: 6px 22px;
	border-radius: 4px;
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	background-color: #f5f4fa;
	border: none;
	cursor: pointer;
}
.btn-port:hover,
.btn-port:focus {
	color: var(--primery-white-color);
	background-color: var(--accent-color);
}
.btn-port.active {
	color: var(--primery-white-color);
	background-color: var(--accent-color);
}
.btn-list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 56px;
}
.btn-item:not(:last-child) {
	margin-right: 8px;
}
.hero-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: -15px;
	padding-bottom: 94px;
}
.bond-port {
	background-color: var(--primery-white-color);
	border: 1px solid #eeeeee;
	margin: 15px;
}

.title-port {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin: 20px 24px 4px 24px;
}
.text-portfolio {
	font-size: 16px;
	line-height: 1.9;
	color: var(--main-text-color);
	margin-right: 24px;
	margin-bottom: 20px;
	margin-left: 24px;
}
/*Footer*/
.footer {
	background-color: #2f303a;
}
.footer-conteiner {
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--primery-white-color);
	display: inline-flex;
	margin-bottom: 20px;
}
.footer .logo .footer-logo {
	color: var(--primery-white-color);
}
.foot-adr {
	color: var(--primery-white-color);
}
.foot-cont {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}
.foot-cont:hover,
.foot-cont:focus {
	color: var(--accent-color);
}
.footer-item:not(:last-child) {
	margin-bottom: 9px;
}
.adress {
	font-style: normal;
}
.btm-port .active {
	background-color: var(--accent-color);
	color: var(--primery-white-color);
}
